.contact{
    width: 100vw;
    height: 100vh;
    padding: 32px 10%;
    /* background-color: white !important; */
}

.contact-left, .contact-right{
    width: 49%;
    height: 100%;
}
.contact-left{
    background-color: white !important;
}

.contact-img, .contact-info{
    width: 100%;
    background-color: rgb(255, 255, 255);
}

.model{
    height: 100%;
    width: 100%;
}
.contact-img{
    margin-bottom: 2vh;
    background-color: rgb(73, 183, 223);
    background-color: white;
    height: 100%;
}

.contact-img img{
    height: 400px;
    width: fit-content;
}

.touch{
    color: rgb(73, 183, 223);
    font-size: 16px;
    font-weight: 600;
}

.chat{
    font-size: 32px;
    color: black;
    font-weight: 600;
}

.form-control{
    border: none !important;
    background-color: whitesmoke;
    border-radius: 10px;
}
.form-control-2{
    border: none !important;
    border-radius: 0px !important;
    border-bottom: 2px solid rgb(73, 183, 223) !important;
}

textarea{
    max-height: 200px !important;
    min-height: 150px !important;
}

.form-label{
    font-weight: 500;
}

.contact-info{
    height: 100%;
}
.email, .mobile{
    background-color: whitesmoke;
    width: 95%;
}

.mobile-model{
    display: none;
}


@media screen and (max-width:600px) {
    .contact-right{
        display: none !important;
    }
    .contact{
        padding-left: 0% !important;
        border-top-left-radius: 0% !important;
        border-bottom-left-radius: 0% !important;
    }
    .contact-left{
        width: 100%;
        border-top-left-radius: 0% !important;
        border-bottom-left-radius: 0% !important;
        display: flex !important;
        flex-direction: column !important;
        justify-content: center !important;
        align-items: center !important;
        border-right:2px solid rgb(73, 183, 223) ;
        box-shadow: rgba(73, 183, 223, 0.15) 0px 15px 25px, rgba(73, 183, 223, 0.05) 0px 5px 10px;
    }
    .mobile-model{
        display: block !important;
        top: 16px !important;
        width: 100%;
    }
    .contact-top{
        margin-top: 48px !important;
    }
    .contact-top, .contact-bottom{
        width: 100% ;
    }
}