.contact{
    width: 100vw;
    height: 100vh;
    padding: 32px 10%;
    background-color: white;
}

.contact-left, .contact-right{
    width: 50%;
    height: 100%;
    overflow: hidden;
}

.contact-bottom, .contact-middle, .contact-form{
    width: 100%;
}

.welcome{
    font-size: 32px;
    font-weight: 600;
}
.please{
    font-size: 16px;
    opacity: 0.7;
}

.form-control{
    border: 1px solid black !important;
    background-color: white;
    border-radius: 10px;
    height: 50px;
}

.form-label{
    font-weight: 500;
}

.submit-btn{
    width: 100%;
    color: white;
    border: 0px !important;
    background-image: linear-gradient(to right, rgb(0, 60, 255) , rgb(208, 0, 255))
}

.provider{
    width: 100%;
}
.provider-btn{
    color: black;
    width: 45%;
    padding: 16px;
}

.contact-right img{
    width: 600px;
}

.form-label-name, .form-label-email{
    transform: translateY(10px);
    background-color: white;
    width: fit-content;
}