nav{
    z-index: 999;
    width: 100vw;
    top : 16px
}

.custom-navbar{
    background-color: #ffffff;
    height: 60px;
    width: 80vw;
    transition: .5s ease ;
    transform: translateY(-10vh);
    border-bottom: 10vh solid #212529;
    box-shadow: rgba(0, 0, 0, 0.05) 0px -3px 0px 0px inset, rgb(255, 255, 255) 0px 0px 0px 2px inset, rgba(0, 0, 0, 0.06) 0px 4px 2px 0px inset, rgba(0, 0, 0, 0.04) 0px 0px 24px 4px inset, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
}

.nav-items{
    font-size: 3vh;
    transform: translateY(20px);
    opacity: 0;
}

.menu{
    cursor: pointer;
    display: none;
}
.menu-item, .logo{
    font-size: 3vh;
    text-decoration: none;
    color: #212529;
}

.nav-item:hover, .menu-item:hover{
    transition: 1s ease;
    box-shadow: rgba(194,233,251, 1) 0px -32px 32px 0px inset, rgb(255, 255, 255) 0px 0px 0px 2px inset, rgba(0, 0, 0, 0.06) 0px 4px 2px 0px inset, rgba(0, 0, 0, 0.04) 0px 0px 24px 4px inset, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
}

.nav-item-last{
    box-shadow: rgba(161,196,253, 1) 0px -32px 32px 0px inset, rgb(255, 255, 255) 0px 0px 0px 2px inset, rgba(0, 0, 0, 0.06) 0px 4px 2px 0px inset, rgba(0, 0, 0, 0.04) 0px 0px 24px 4px inset, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
}

.nav-item{
    color: #212529;
    text-decoration: none;
    transition: .5s ease;
}

.navbar-left, .navbar-right{
    overflow-y: hidden;
}

.offcanvas-body{
    width: 100%;
}

/* ------------------media queries------------ */

@media screen and (max-width:600px) {
    .custom-navbar{
        padding:0px 16px !important;
    }
    .navbar-left, .navbar-right{
        margin: 0% !important;
    }
    .menu-item{
        font-size: 24px !important;
    }
    .nav-item{
        display: none;
    }
    .menu{
        display: block;
    }

}