.portfolio-main{
    width: 100vw;
    overflow-x: hidden;
    transition: .5s ease;
}

.portfolio-wrapper{
    width: 200vw;
}

.portfolio-wrapper::-webkit-scrollbar{
    width: 0px;
}

/* //////////////////////////////// */
/*  portfolio section1
/* /////////////////////////////// */

.portfolio{
    height: 100vh;
    transition: .5s ease;
    width: 150vw;
}

.portfolio-section{
    width: 100vw;
}
.portfolio-img{
    transform: translateY(-500px);
    opacity: 0;
}

.portfolio-mid img{
    height: 400px;
    border-radius: 50%;
    z-index: 100;
}

#portfolio-desc{
    text-transform: uppercase;
    position: relative;
    color: transparent;
    font-size: 70px;
    font-weight: 700;
    transition: .5s ease;
}
.portfolio-desc:hover{
    cursor:default;
}
#portfolio-desc::before{
    content: attr(data-text);
    width: 0;
    /* left: 0; */
    position: absolute;
    overflow: hidden;
    transition:all .3s ease-out;
    z-index: 10;
    white-space: nowrap;
}
#portfolio-desc:hover::before{
    width: 100%;
    transition:all .5s linear;
}
.name{
    color: rgb(73, 183, 223);
    color: rgba(161,196,253, 1);
    -webkit-text-stroke: 0px;
}
.name::before{
    color: rgb(73, 183, 223);
    color: rgba(161,196,253, 1);
    z-index: 20;
}
/* //////////////////////////////// */
/*  portfolio section2
/* /////////////////////////////// */

.portfolio-section2{
    width: 100vw;
    height: 100vh;
}
.expert{
    text-transform: uppercase;
    font-size: 100px;
    font-size: 6vw;
    font-weight: 800;
    width: 100vw;
    white-space: nowrap;
    transform: translate(0px, -110vh);
    scale: 0.5;
    color: rgb(73, 183, 223);
}

/* //////////////////////////////// */
/*  portfolio section3 
/* /////////////////////////////// */

.model-2{
    height: 400px;
    width: 400px;
}
.plane-model{
    transform: translate(-50vw, -50vh);
}
.portfolio-section3{
    width: 100%;
    height: 100%;
}
.box-2, .box-3{
    background-color: aquamarine;
    transform: translateY(-100vh);
    height: 200px;
    width: 200px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    z-index: 100;
    font-size: 6vw;
    font-weight: 800;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.cube-model{
    height: 300px;
    width: 300px;
    z-index: 90;
    opacity: 0;
}
.box-3{
    scale: 0;
    background-color: beige;
    z-index: 90;
}
