.projects{
    overflow: hidden;
}

.project img{
    width: 1100px;
    position: relative;
    border-radius: 40px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 10px 25px;
    opacity: 1;
}

.work-project{
    height: 100vh;
    width: 100vw;
}

.main-middle{
    font-size: 130px;
    font-weight: 700;
    line-height:95px;
    padding: 0px 10px;
}

.main-left, .main-right, .main-bottom{
    font-size: 12px;
    font-weight: 400;
}

.main-bottom{
    padding: 40px 12px;
}
.project img:hover .project-content{
    top: 0%;
    transition: 1s ease;
}
.project-content{
    background-color: antiquewhite;
    top: 50%;
    height: 100%;
    width: 100%;
    transition: 1s ease;
}

@media screen and (max-width:600px) {
    .pr img{
        width: 90vw;
        border-radius: 15px;
        /* height: 80vh; */
    }
    .main-middle{
        font-size: 40px;
        font-weight: 700;
        line-height:30px;
        padding: 0px 8px;
    }
    .main-left, .main-right, .main-bottom{
        font-size: 6px;
        font-weight: 400;
    }
    .work-project{
        height: 70vh;
    }
    .main-bottom{
        padding: 20px 12px;
    }
}