
.pr img{
    width: 1400px;
    position: relative;
}

.work-project, .personal-project{
    font-size: 48px;
    font-weight: 700;
}

.pr-1 img{
    z-index: 100;
}
.pr-2 img{
    z-index: 110;
}
.pr-scroll img{
    z-index: 120;
}