.techstack{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.stack{
    font-size: 32px;
    color: white;
    background-color: #212529;
    font-weight: 600;
    z-index: 900;
}

.skills{
    z-index: 800;
    width: 100%;
}

.tech-icon{
    padding: 16px 40px;
    font-weight: 600;
}

.front-1, .front-2{
    width: 100%;
}


/* vertical  */
/* .prometheus img, .redis img{
    animation: hover 2s ease-in-out infinite;
}
.next img, .grafana img{
    animation: hover 3s ease-in-out infinite;
}
.node img, .docker img{
    animation: hover 3s ease-in-out infinite 2s;
}
.grafana img{
    animation: hover 3s ease-in-out infinite 1s;
}
.gsap img{
    animation: hover 4s ease-in-out infinite 1s;
}


.express img{
    animation: hover-horizontal 3s ease-in-out infinite 2s;
} */

.icon-img{
    height: 60px;
    transition: .3s ease-out;
}

.icon-img:hover{
    scale: 1.2;
    transition: .3s ease;
}

.frontend, .backend, .devops{
    width: 50%;
}



@media screen and (max-width:600px) {
    .skills{
        justify-content: space-evenly !important;
    }
    .icon-img{
        height: 50px;
    }
    .stack{
        font-size: 20px;
    }
    .tech-icon{
        padding: 8px 20px;
    }
}