@media screen and (max-width:578px) {

    /* -----------------------------
    navbar
    ----------------------------- */

    nav {
        position: fixed;
        /* top: 90dvh; */
    }
    .custom-navbar {
        padding: 0px 16px !important;
    }
    .navbar-left,
    .navbar-right {
        margin: 0% !important;
    }
    .navbar-left{
        width: 100%;
        justify-content: space-between !important;
        flex-direction: row-reverse !important;
    }
    .loki{
        display: block !important;
    }
    .menu-item {
        font-size: 24px !important;
    }
    .nav-item {
        display: none;
    }
    .menu {
        display: block;
        color: white;
    }

    .pill-bg {
        display: none;
    }

    /* -----------------------------
    portfolio
    ----------------------------- */

    .portfolio-section{
        flex-direction: column-reverse !important;
        /* justify-content: space-around !important; */
        justify-content: center !important;
        gap: 10vh;
        height: 100svh;
        padding: 0% !important;
    }
    #portfolio-desc{
        font-size: 32px !important;
        text-align: center !important ;
    }
    #portfolio-desc:hover::before{
        width: 0px !important;
    }
    .portfolio{
        width: 100vw;
    }
    .portfolio-img img {
        height: 250px;
        transition: .5s ease;
    }
    .expert{
        transform: translateY(-120vh);
    }
    .portfolio-wrapper{
        display: none !important;
    }


    /* -----------------------------
    projects
    ----------------------------- */

    .project-img {
        width: 100%;
    }
    .project-card::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: none;
        z-index: 90;
        border-radius: 0px;
        box-shadow: none;
    }
    .project-card:hover::before {
        opacity: 1;
    }
    .project-card {
        /* height: 60vh; */
        width: 92vw;
        flex-direction: column-reverse !important;
    }
    .project-left {
        width: 100%;
    }
    .main-middle {
        font-size: 40px;
        font-weight: 700;
        line-height: 30px;
        padding: 0px 8px;
    }
    .main-left,
    .main-right,
    .main-bottom {
        font-size: 6px;
        font-weight: 400;
    }
    .work-project {
        height: 70vh;
    }
    .main-bottom {
        padding: 20px 12px;
    }
    .left-top {
        padding: 16px 8px !important;
    }
    .project-name {
        padding-bottom: 4px !important;
    }


    /* -----------------------------
    contact
    ----------------------------- */

    .contact-right{
        display: none !important;
    }
    .contact{
        padding-left: 0% !important;
        padding-right: 32px !important;
        border-top-left-radius: 0% !important;
        border-bottom-left-radius: 0% !important;
    }
    .contact-left{
        width: 100%;
        padding:0px 20px !important;
        border-top-left-radius: 0% !important;
        border-bottom-left-radius: 0% !important;
        display: flex !important;
        flex-direction: column !important;
        justify-content: center !important;
        align-items: center !important;
        border-right:2px solid rgb(73, 183, 223) ;
    }
    .mobile-model{
        display: block !important;
        top: 16px !important;
        width: 100%;
    }
    .contact-top{
        margin-top: 0px !important;
    }
    .contact-top, .contact-bottom{
        width: 100% ;
    }

}


@media screen and (max-width:1500px) and (min-width:1100px) {

    /* -----------------------------
    portfolio
    ----------------------------- */
    .portfolio-desc {
        font-size: 50px;
        transition: .5s ease;
    }

    .portfolio-img img {
        height: 300px;
        transition: .5s ease;
    }
}

@media screen and (max-width:1100px) and (min-width:769px) {

    /* -----------------------------
    portfolio
    ----------------------------- */
    .portfolio-desc {
        font-size: 50px;
        transition: .5s ease;
    }

    .portfolio-img img {
        height: 300px;
        transition: .5s ease;
    }

    .portfolio {
        display: flex !important;
        flex-direction: column !important;
        transition: .5s ease;
        justify-content: space-evenly !important;
    }
}

@media screen and (min-width:578px) and (max-width:768px) {

    /* -----------------------------
    portfolio
    ----------------------------- */
    

}